@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
*{
    font-family: Pretendard;
    margin:0; padding:0;
    margin:0 0 ;

}
html{
    max-width: 1920px;
    /* overflow-x: hidden; */
}
body{
    max-width: 1920px;
    overflow-x: hidden;
}

.main_box{

    width: 1920px;  height: 1080px;
    display: block;

    /* border: 1px solid #ccc; */
}

.top_padding{
    width:1520px; height: 150px;
}





footer{
    width: 1920px; height: 479px;
    background-color: #191919;
    color: white;
    position: relative;
}
#team{
    font-size: 24px; font-weight: 700; line-height: 24px;
    position: absolute;
    top: 150px; left: 200px;
}
footer div{
    position: absolute;
    top: 250px; left: 200px;


}
.name{
    font-size: 20px; font-weight: 500; line-height: 20px;
    display: inline-block;
    margin-right: 125px;
}
.name span{
    font-size: 14px; font-weight: 500; line-height: 14px;
}
