@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
*{
    font-family: Pretendard;
    margin:0; padding:0;
    max-width: 1920px;

}
html{
    max-width: 1920px;
}
body{
    max-width: 1920px;
    overflow-x: hidden;
}

.main_box{

    width: 1920px; height: 1080px;
    display: block;

    border: 1px solid #ccc;
}

.top_padding{
    width:1520px; height: 150px;
}