/* section 9 */
#box9{
    width: 1920px; height: 1080px;
}
#box9 #box9_text{
    display:block;
    margin: 150px 0 143px 200px;
    position: relative;
}
#box9 h2{
    font-size: 24px;
    line-height: 24px; letter-spacing: 2%;
    display: inline-block;
    /* padding-bottom: 20px; */
    position: absolute;
    top:0;
}
#box9 #cr_p{
    font-size: 20px;
    line-height: 30px; letter-spacing: -2%;
    display: inline-block;
    margin-left: 227px;
}
#box9 #color_box{
    width: 1546px;   /*1526*/
    margin: 0 auto;
}
#color_box .cr{
    width: 282px; height: 230px;
    border-radius: 10px;
    background-color: #ccc;
    display: inline-block;
}
#color_box #orange{
    margin-right:29px;
    background-color: #ff5000;
}
#color_box #yellow{
    margin-right:29px;
    background-color: #ffcc00;
}
#color_box #green{
    margin-right:29px;
    background-color: #05aa5a;
}
#color_box #blue{
    margin-right:29px;
    background-color: #0050c8;
}
#color_box #violet{
    background-color: #6400c8;
}

#color_box #black{
    width: 595px; height: 192px;
    background-color: #191919;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
}
#color_box #white{
    width: 908px; height: 192px;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
}
#color_box #cr_top{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #fff; opacity: 0.5;
    margin: 20px 0 0 20px;

    display: inline-block;
}
#color_box #cr_x_top{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: white; 
    margin: 20px 0 0 20px;
    display: inline-block;
}
#color_box #cr_x2_top{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: black; 
    margin: 20px 0 0 20px;
    display: inline-block;
}

#color_box #cr_btm{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    opacity: 0.5;

    margin: 155px 20px 20px 189px;
}
#color_box #cr_x_btm{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    opacity: 0.5;

    margin: 120px 20px 20px 509px;
}
#color_box #cr_x2_btm{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #191919;
    opacity: 0.5;

    margin: 120px 20px 20px 817px;
}

/* section 10 */

#badge_wrap{
    width: 1920px; height: 785px;
    background-color: #f9f9f9;
    position: relative;
}
#badge_wrap #badge{
    float: right;
    margin: 320px 200px 0 0 ;
    /* display: inline-block; */
}
#badge_wrap #badge h2{
    font-size: 24px; line-height: 24px; font-weight: 700;
}
#badge_wrap #badge #badge_p{
    font-size: 20px; line-height: 30px; font-weight: 400;
    margin: 30px 0 0 0;
    /* margin-top: 130px; */
}

#badge_wrap #badge_img_wrap{
    /* width:878px; height:270px; */
    display: inline-block;
    /* float: right; */
    margin: 279px 0 236px 200px;
    position: relative;
}
#badge_wrap #badge_img_wrap img{
    width: 120px; height: auto;
}
#badge_wrap #badge_img_wrap #badge_main{
    width: 240px; height: auto;
    margin: 0 60px 0 60px;
}
#badge_wrap #badge_img_wrap .badge_m{
    margin: 0 0 0 20px;
}
#badge_img_wrapper{
    display: inline-block;
}
#badge_wrap #badge_text{
    display: inline-block;
    font-size: 24px; line-height: 36px; font-weight: 700;
    top: 230px; left: 350px;
    /* text-align: center; */
    position: absolute;

}

#icon_wrap{
    width: 1920px; height: 900px;
    /* position: absolute;
    top: 2950px; */
}
#icon_wrap #icon_left{
    display: inline-block;
    margin: 200px 0 0 200px;
}
#icon_wrap #icon_right{
    /* margin: 150px 200px 300px 1330px; */
    display: inline-block;
    position: relative;
    left: 765px; top: -150px;
}
#icon_wrap #icon_right #icon_bg{
    width: 390px; height: 390px;
    position: absolute;

}
#icon_wrap #icon_right #icon_main{
    width: 227px; height: auto;
    position: absolute;
    top: 48px; left: 81px;
}

#icon_wrap #icon_slide{
    width: 100%;  height: 148px;
    display:inline-block;
    position: absolute;
    top: 13350px; left: 0;
    overflow: hidden;

}
#icon_wrap #icon_slide img{
    /* display: inline-flex; */
    width: 110px; height: auto;
    margin: 0 20px;
    position: absolute;

}




#design_bg_2{
    width: 1920px; height:800px;
    background-image: url(./img/background/desgin_bg.png);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    margin-top: 650px;
}